# RFM analysis

<img src="https://github.com/retkowsky/images/blob/master/AzureMLservicebanniere.png?raw=true">

> Author: Serge Retkowsky Microsoft<br>
> Date: 03-Sept-2020

## Description
RFM Analysis is a marketing technique used to quantitatively determine which customers are the best ones by examining their shopping behaviour – how recently a customer has purchased (recency), how often they purchase (frequency), and how much the customer spends (monetary). RFM analysis is based on an extension of Pareto’s principle which says that “80% of your business comes from 20% of your customers.“

## Objectives
Customers who have purchased more recently, more frequently, and have spent more money, are likelier to buy again. But those who haven’t, are less valuable for the company and therefore, likely to churn. RFM stands for:

**Recency** – How recently did the customer purchase? Recency is the most important predictor of who is more likely to show loyalty towards your brand. Customers who have purchased recently from you are more likely to purchase again from you compared to those who did not purchase recently.

**Frequency** – How often do they purchase? The second most important factor is how frequently these customers purchase from you. The higher the frequency, the higher is the chances of such customers making a repeat purchase.

**Monetary** – How much money do they spend (average basket value)?

## Steps

1. We will connect to the Azure ML workspace in order to save our ML results into an experiment.
2. We will take the customer transactions and build a RFM clustering. 3 indicators (Recency, Frequency and Monetary) and a 
global RFM score will be calculated for each customer.
3. We are able to select the top RFM scores because this cluster is all customers with a low recency, high frequency and a high
Monetary.

<img src="http://www.wiseguysmarketing.com/wp-content/uploads/2016/03/RFM.png">

## 0. Settings

In [ ]:
import sys
print('You are using Python', sys.version)

In [2]:
import datetime
dateheure = datetime.datetime.now()
print('Today is', dateheure)

Today is 2020-09-03 10:31:19.795417

In [3]:
import azureml.core
print("You are using Azure ML", azureml.core.VERSION)

You are using Azure ML 1.13.0

In [4]:
import pandas as pd
import logging
import os
import random

from matplotlib import pyplot as plt
from matplotlib.pyplot import imshow
import numpy as np
import pandas as pd
from sklearn import datasets

import azureml.core
from azureml.core.experiment import Experiment
from azureml.core.workspace import Workspace

In [5]:
import os
subscription_id = os.environ.get("SUBSCRIPTION_ID", "70b8f39e-8863-49f7-b6ba-34a80799550c")
resource_group = os.environ.get("RESOURCE_GROUP", "azuremlsynapse-rg")
workspace_name = os.environ.get("WORKSPACE_NAME", "azuremlsynapse")

from azureml.core import Workspace
try:
   ws = Workspace(subscription_id = subscription_id, resource_group = resource_group, workspace_name = workspace_name)
   ws.write_config()
   print("OK")
except:
   print("Error: Workspace not found")

OK

In [6]:
from azureml.core import Workspace

try:
   ws = Workspace(subscription_id = subscription_id, resource_group = resource_group, workspace_name = workspace_name)
   ws.write_config()
   print("Workspace is available : OK")
except:
   print("No Workspace")

Workspace is available : OK

## 1. Azure ML experimentation

In [7]:
ws = Workspace.from_config()

experiment = Experiment(workspace=ws, name='RFMAnalysis')

output = {}
output['Workspace'] = ws.name
output['Resource Group'] = ws.resource_group
output['Location'] = ws.location
output['Experiment Name'] = experiment.name
pd.set_option('display.max_colwidth', -1)
outputDf = pd.DataFrame(data = output, index = [''])
outputDf.T

Workspace        azuremlsynapse
Resource Group   azuremlsynapse-rg
Location         westeurope
Experiment Name  RFMAnalysis

## 2. Data Access

In [8]:
from azureml.core import Workspace, Dataset

subscription_id = '70b8f39e-8863-49f7-b6ba-34a80799550c'
resource_group = 'azuremlsynapse-rg'
workspace_name = 'azuremlsynapse'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='Transactions')
ventes=dataset.to_pandas_dataframe()

In [9]:
ventes.head()

,DateAchat,CodeClient,NumeroCommande,NumeroLigneProduit,IDMagasin,PrixVenteTTCHorsRemise,PrixVenteTTCAvecRemise,Quantite,Montant,Heure,CodeVendeur,DateCreationArticle,LabelProduit,LabelSousFamille,LabelFamilleProduit,LabelUnivers,CodeUnivers,CodeFamille,CodeSousFamille,CodeProduit
0,2019-09-18,3136178,12238,1,10001,38.986667,38.986667,1,38.986667,1807.0,28,2014-08-25,CHANEL ECLAT EXPRESS 75 ML,MASQUE,VISAGE,SOINS,3,7,30,4
1,2019-12-18,2665443,1418,3,10000,0.000000,0.000000,1,0.000000,1533.0,10,2007-02-01,PETIT POT ECHT,FOURNITURES,AUTRES,CONSEILLERS SOINS,10,100,160,284
2,2019-10-17,3502093,14510,1,10001,5.053333,5.053333,1,5.053333,1118.0,15,2018-08-19,MAVALA LIMES A ONGLES X8,SOINS ONGLES,LES ONGLES,MAQUILLAGE,2,4,24,320
3,2018-08-21,4651928,16477,5,10000,6.026667,6.026667,1,6.026667,1543.0,13,2018-08-19,MAVALA MINI VAO SUPER BASE,VERNIS,LES ONGLES,MAQUILLAGE,2,4,22,322
4,2020-05-18,2304176,3489,6,10000,8.133333,8.133333,1,8.133333,1553.0,5,2018-08-19,MAVALA DISSOLV DISQUE POT,DISSOLVANT,LES ONGLES,MAQUILLAGE,2,4,23,323

In [10]:
import time
RFMref = time.strftime("%Y-%m-%d")
print('RFM Reference Date is', RFMref)

RFM Reference Date is 2020-09-03

In [11]:
run = experiment.start_logging(snapshot_directory=None )

In [12]:
run.log('RFM ref', RFMref)

In [13]:
ventes['DateAchat'] = pd.to_datetime(ventes['DateAchat'])

In [14]:
import datetime
NOW = datetime.datetime.now()

In [15]:
TableRFM = ventes.groupby('CodeClient').agg({'DateAchat': lambda x: (NOW - x.max()).days, # Recency
                                        'NumeroCommande': lambda x: len(x),      # Frequency
                                        'Montant': lambda x: x.sum()}) # Monetary Value

TableRFM['DateAchat'] = TableRFM['DateAchat'].astype(int)
TableRFM.rename(columns={'DateAchat': 'Récence', 
                         'NumeroCommande': 'Fréquence', 
                         'Montant': 'Montant'}, inplace=True)

## 3. RFM analysis

In [16]:
TableRFM.head(20)

            Récence  Fréquence     Montant
CodeClient
126993      169      1          26.000000
214674      138      3          116.800000
318696      108      2          73.733334
438711      322      3          102.133334
495501      434      3          108.933333
918238      596      1          80.666667
1090522     287      1          31.466667
1315018     351      1          20.000000
1419361     260      1          39.333333
1419459     434      2          92.666667
1470727     322      1          56.400000
1470729     389      1          8.266667
1470850     434      1          47.200000
1470868     744      1          5.466667
1484775     138      1          40.000000
1484998     369      1          76.266667
1542405     260      5          486.933334
1560817     500      1          59.466667
1568148     434      1          29.733333
1609043     169      1          70.666667

In [17]:
# Some details for a customer ID
Client3136178=ventes[ventes['CodeClient']==3136178]
Client3136178

,DateAchat,CodeClient,NumeroCommande,NumeroLigneProduit,IDMagasin,PrixVenteTTCHorsRemise,PrixVenteTTCAvecRemise,Quantite,Montant,Heure,CodeVendeur,DateCreationArticle,LabelProduit,LabelSousFamille,LabelFamilleProduit,LabelUnivers,CodeUnivers,CodeFamille,CodeSousFamille,CodeProduit
0,2019-09-18,3136178,12238,1,10001,38.986667,38.986667,1,38.986667,1807.0,28,2014-08-25,CHANEL ECLAT EXPRESS 75 ML,MASQUE,VISAGE,SOINS,3,7,30,4
653,2019-09-18,3136178,12238,2,10001,63.066667,63.066667,1,63.066667,1807.0,28,2010-11-28,LAUDER EYZONE REPAIR GEL15,YEUX,VISAGE,SOINS,3,7,1009,32311
2509,2019-09-18,3136178,12238,3,10001,62.373333,62.373333,1,62.373333,1807.0,28,2022-01-10,LAUDER HYDRACOMPLETE PN 50,HYDRATANT,VISAGE,SOINS,3,7,31,97599
2571,2019-09-18,3136178,12238,4,10001,50.986667,50.986667,1,50.986667,1807.0,28,2022-02-02,GUERLAIN OAP DIVI.4COUL280,OMBRES PAUPIERES,LES YEUX,MAQUILLAGE,2,2,16,98707

In [18]:
quantiles = TableRFM.quantile(q=[0.25,0.5,0.75])

In [19]:
quantiles

      Récence  Fréquence    Montant
0.25  260.0    1.0        27.826667
0.50  351.0    1.0        53.066667
0.75  434.0    2.0        87.700000

In [20]:
quantiles = quantiles.to_dict()

In [21]:
quantiles

{'Récence': {0.25: 260.0, 0.5: 351.0, 0.75: 434.0},
 'Fréquence': {0.25: 1.0, 0.5: 1.0, 0.75: 2.0},
 'Montant': {0.25: 27.8266665, 0.5: 53.066666999999995, 0.75: 87.7}}

In [22]:
SegmentationRFM = TableRFM

In [23]:
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

### Let's compute the Recency, Frequency and Monetary indicators.

In [24]:
SegmentationRFM['R_Quartile'] = SegmentationRFM['Récence'].apply(RClass, args=('Récence',quantiles,))
SegmentationRFM['F_Quartile'] = SegmentationRFM['Fréquence'].apply(FMClass, args=('Fréquence',quantiles,))
SegmentationRFM['M_Quartile'] = SegmentationRFM['Montant'].apply(FMClass, args=('Montant',quantiles,))

### Let's compute the global RFMClass indicator for each customer

In [25]:
SegmentationRFM['RFMClass'] = SegmentationRFM.R_Quartile.map(str) \
                            + SegmentationRFM.F_Quartile.map(str) \
                            + SegmentationRFM.M_Quartile.map(str)

In [26]:
SegmentationRFM.head()

,Récence,Fréquence,Montant,R_Quartile,F_Quartile,M_Quartile,RFMClass
CodeClient,,,,,,,
126993,169,1,26.000000,1,4,4,144
214674,138,3,116.800000,1,1,1,111
318696,108,2,73.733334,1,2,2,122
438711,322,3,102.133334,2,1,1,211
495501,434,3,108.933333,3,1,1,311

In [27]:
SegmentationRFM.describe()

,Récence,Fréquence,Montant,R_Quartile,F_Quartile,M_Quartile
count,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000,2255.000000
mean,365.074501,1.956098,69.354968,2.313525,2.794235,2.500222
std,175.898913,1.454829,65.745289,1.102417,1.288218,1.118480
min,25.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,260.000000,1.000000,27.826667,1.000000,2.000000,1.500000
50%,351.000000,1.000000,53.066667,2.000000,4.000000,3.000000
75%,434.000000,2.000000,87.700000,3.000000,4.000000,3.500000
max,747.000000,22.000000,804.533334,4.000000,4.000000,4.000000

In [28]:
SegmentationRFM['RFMClass'] = SegmentationRFM['RFMClass'].astype(int)

### List of the top RFM customers

In [29]:
SegmentationRFM.sort_values(by=['RFMClass'], ascending=[False])

,Récence,Fréquence,Montant,R_Quartile,F_Quartile,M_Quartile,RFMClass
CodeClient,,,,,,,
2273695,744,1,22.133333,4,4,4,444
2248528,747,1,11.600000,4,4,4,444
4215108,744,1,13.333333,4,4,4,444
2255804,747,1,26.586667,4,4,4,444
4209466,688,1,26.000000,4,4,4,444
2874132,721,1,27.813333,4,4,4,444
2874172,688,1,7.866667,4,4,4,444
2874184,623,1,13.200000,4,4,4,444
4139781,688,1,12.266667,4,4,4,444
2307887,688,1,4.400000,4,4,4,444
2882863,721,1,20.720000,4,4,4,444
2894126,744,1,8.800000,4,4,4,444
2307852,727,1,5.866667,4,4,4,444
2728027,688,1,8.266667,4,4,4,444
2906986,596,1,20.133333,4,4,4,444
2248511,744,1,11.066667,4,4,4,444
2915724,744,1,9.466667,4,4,4,444
2248471,747,1,12.000000,4,4,4,444
2968132,596,1,5.733333,4,4,4,444
2984772,744,1,27.066667,4,4,4,444
2248358,688,1,8.653333,4,4,4,444
4043792,688,1,23.026667,4,4,4,444
3018687,688,1,8.653333,4,4,4,444
3037501,596,1,16.800000,4,4,4,444
4251517,744,1,15.866667,4,4,4,444
2696492,688,1,17.466667,4,4,4,444
2304324,744,1,12.613333,4,4,4,444
2478513,744,1,22.266667,4,4,4,444
4821899,502,1,26.533333,4,4,4,444
2375444,688,1,17.200000,4,4,4,444
...,...,...,...,...,...,...,...
2304116,169,5,106.933333,1,1,1,111
2304176,108,6,88.133333,1,1,1,111
6844370,260,3,127.200000,1,1,1,111
2248187,260,7,223.240000,1,1,1,111
2458199,260,8,496.533334,1,1,1,111
6889872,260,4,116.986667,1,1,1,111
2274569,260,3,185.200000,1,1,1,111
2248218,169,7,88.266667,1,1,1,111
2453936,230,3,213.866667,1,1,1,111
2248329,138,4,152.800000,1,1,1,111
2447256,260,4,95.733332,1,1,1,111
2248398,108,3,109.466666,1,1,1,111
2414249,138,3,115.066667,1,1,1,111
2410756,138,5,293.666667,1,1,1,111
4764712,230,22,449.079998,1,1,1,111
2371127,169,3,110.800001,1,1,1,111
2304221,260,3,164.666667,1,1,1,111
2366087,169,4,157.733333,1,1,1,111
2364067,138,8,232.666667,1,1,1,111
2364002,230,5,134.066666,1,1,1,111
2354759,260,5,356.266666,1,1,1,111
2335946,230,5,102.533333,1,1,1,111
2334135,138,3,247.733333,1,1,1,111
2327419,260,8,301.800000,1,1,1,111
2324720,260,5,142.266667,1,1,1,111
5035631,33,4,130.253334,1,1,1,111
5093099,260,3,108.400000,1,1,1,111
2307972,138,7,284.400001,1,1,1,111
2304731,108,3,106.666666,1,1,1,111
3651346,108,3,258.533334,1,1,1,111

## 4. Let's choose the top RFM customers

In [30]:
seuil=400

In [31]:
#Let's log the value into the Azure ML experiment
run.log("RFM Class Seuil", seuil)
HighRFM=SegmentationRFM[SegmentationRFM['RFMClass'].gt(seuil)]

In [32]:
HighRFM

,Récence,Fréquence,Montant,R_Quartile,F_Quartile,M_Quartile,RFMClass
CodeClient,,,,,,,
918238,596,1,80.666667,4,4,2,442
1470868,744,1,5.466667,4,4,4,444
1560817,500,1,59.466667,4,4,2,442
1615577,623,2,42.800000,4,2,3,423
1747156,500,2,126.933334,4,2,1,421
1794794,623,1,69.200000,4,4,2,442
1796833,623,2,64.266667,4,2,2,422
1797430,747,1,0.666667,4,4,4,444
1894016,500,2,77.733334,4,2,2,422
1998815,744,1,72.000000,4,4,2,442
2248174,744,2,115.866666,4,2,1,421
2248318,744,1,44.400000,4,4,3,443
2248358,688,1,8.653333,4,4,4,444
2248471,747,1,12.000000,4,4,4,444
2248499,747,1,47.586667,4,4,3,443
2248511,744,1,11.066667,4,4,4,444
2248528,747,1,11.600000,4,4,4,444
2248537,744,1,68.000000,4,4,2,442
2248654,744,1,29.866667,4,4,3,443
2248699,744,1,30.933333,4,4,3,443
2248723,623,2,45.866667,4,2,3,423
2248820,744,3,26.933333,4,1,4,414
2255804,747,1,26.586667,4,4,4,444
2267053,747,1,100.800000,4,4,1,441
2273483,623,3,107.866667,4,1,1,411
2273493,500,1,66.666667,4,4,2,442
2273518,596,1,100.400000,4,4,1,441
2273576,747,2,78.253333,4,2,2,422
2273579,688,1,38.400000,4,4,3,443
2273589,744,2,153.680000,4,2,1,421
...,...,...,...,...,...,...,...
4787404,552,1,66.800000,4,4,2,442
4790439,552,3,35.200000,4,1,3,413
4819141,535,3,36.266667,4,1,3,413
4819143,535,1,72.666667,4,4,2,442
4819144,535,3,55.600000,4,1,2,412
4819145,502,1,47.733333,4,4,3,443
4819148,502,3,40.533333,4,1,3,413
4821893,502,1,46.666667,4,4,3,443
4821894,502,1,76.000000,4,4,2,442
4821898,502,5,109.066666,4,1,1,411
4821899,502,1,26.533333,4,4,4,444
4844201,623,2,95.866667,4,2,1,421
4844202,623,2,10.000000,4,2,4,424
4849506,623,1,74.666667,4,4,2,442
4851903,623,1,84.400000,4,4,2,442
4851905,623,1,99.066667,4,4,1,441
4851906,623,3,118.133333,4,1,1,411
4851907,623,3,218.760000,4,1,1,411
4897040,502,1,23.866667,4,4,4,444
4903960,596,3,73.866667,4,1,2,412
4903962,596,1,78.666667,4,4,2,442
4906120,502,1,41.800000,4,4,3,443
4922153,596,1,52.000000,4,4,3,443
4926343,596,2,49.200000,4,2,3,423
4930121,596,2,27.653333,4,2,4,424
4930122,596,3,8.000001,4,1,4,414
4930124,596,1,6.400000,4,4,4,444
4930125,596,3,14.666667,4,1,4,414
4931985,596,3,43.640000,4,1,3,413
4931986,596,2,21.066667,4,2,4,424

## 5. Exportation of results

### Let's export the top RFM customers into a CSV and Excel file

In [33]:
HighRFM.to_csv('HighRFM.csv', sep=',')

In [34]:
HighRFM.to_excel('HighRFM.xlsx')

In [35]:
%ls HighRFM*.* -l

-rwxrwxrwx 1 root root 15162 Sep  3 10:31 HighRFM.csv*
-rwxrwxrwx 1 root root 21318 Sep  3 10:31 HighRFM.xlsx*

### Let's persist the top RFM file into an Azure ML experiment

In [36]:
file_namecsv = 'HighRFM.csv'
run.upload_file(name = file_namecsv, path_or_stream = file_namecsv)

In [37]:
file_namexls = 'HighRFM.xlsx'
run.upload_file(name = file_namexls, path_or_stream = file_namexls)

In [38]:
experiment

Experiment(Name: RFMAnalysis,
Workspace: azuremlsynapse)

### Saving results into the Azure ML experimentation:
<img src='https://github.com/retkowsky/images/blob/master/rfm1.jpg?raw=true'>
<img src='https://github.com/retkowsky/images/blob/master/rfm2.jpg?raw=true'>

In [39]:
run.complete()

> End of notebook